<?xml version="1.0" ?>
<launch>
  <arg name="model" default="$(find pioneer2dx)/models/model.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model pioneer2dx -param robot_description"/>

</launch>

